<p id="notice"><%= notice %></p>

<h1>Nclientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nclientes.each do |ncliente| %>
      <tr>
        <td><%= ncliente.nome %></td>
        <td><%= ncliente.cpf %></td>
        <td><%= link_to 'Show', ncliente %></td>
        <td><%= link_to 'Edit', edit_ncliente_path(ncliente) %></td>
        <td><%= link_to 'Destroy', ncliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ncliente', new_ncliente_path %>
